.product-page {
    --button-size: 1.5rem;
    --circle-size: 1rem;
    --container-width: 350px;
    --main-color: #FFFFFF;
    --accent-color: #6934FF;
}

.product-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.product-info {
    display: flex;
    position: absolute;
    bottom: 10%;
    flex-direction: column;
    color: var(--main-color);
    align-items: center;
    width: 100%;
}

.product-buy-button {
    width: 6rem;
    height: 2.5rem;
    font-size: 1.75rem;
    border-radius: 1.25rem;
    border: none;
    background-color: var(--accent-color);
    color: var(--main-color);
}

.product-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: 0.6rem;
}

.product-name {
    color: var(--accent-color);
}

.product-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.product-navigation-button {
    width: calc(var(--button-size) + 0.5rem);
    height: calc(var(--button-size) + 0.5rem);
    background-color: transparent;
    border: none;
}

.product-navigation-image {
    position: relative;
    width: var(--button-size);
    height: var(--button-size);
    top: 0;
    left: 0;
}

.previous-button-image {
    rotate: 180deg;
}

.product-navigation-circle {
    background-color: var(--main-color);
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: 3rem;
}

.circles-container {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.current-circle {
    background-color: var(--accent-color) !important;
}

@media screen and (max-width: 750px) {
    .product-page {
        --button-size: 1rem;
        --circle-size: 0.7rem;    
    }

    .product-info {
        padding-left: 1rem;
        width: calc(100% - 1rem);
    }

    .product-name-container {
        font-size: 1.75rem;
    }

    .product-container {
        gap: 1rem;
    }

    .product-buy-button {
        width: 4rem;
        height: 1.6rem;
        font-size: 1rem;
        border-radius: 1rem;
    }

    .product-navigation {
        gap: 1rem;
    }
}