.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-page-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

@media screen and (max-width: 750px) {
    .home-page-heading {
        font-size: 2rem;
        padding-left: 1rem;
        text-align: center;
    }
}