.footer {
    --padding: 30px;

    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 60px;
    width: calc(100vw - calc(2 * var(--padding)));
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    opacity: 50%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer-languages {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.separator {
    background-color: white;
    height: 20px;
    width: 1px;
}