.footer {
    --padding: 1.8rem;

    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 4rem;
    width: calc(100vw - calc(2 * var(--padding)));
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    opacity: 50%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-languages {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.separator {
    background-color: white;
    height: 1.6rem;
    width: 0.1rem;
}

.footer-language {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .footer {
        font-size: 0.8rem;
    }

    .footer-links {
        gap: 0.8rem;
    }

    .footer-languages {
        gap: 0.8rem;
    }
}