.cart-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    color: #FFFFFF;
    gap: 1.5rem;
}

.cart-image {
    width: 36rem;
    height: auto;
    border-radius: 1.5rem;
    border: 1px solid;
}

.cart-heading {
    font-size: 3rem;
    padding-left: 1.5rem;
}

.cart-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 60rem;
    padding-left: 1.5rem;
}

.cart-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.cart-product-name {
    font-size: 4rem;
}

.cart-product-price {
    font-size: 2rem;
}

.cart-product-button {
    width: 100%;
    height: 4.5rem;
    font-size: 2rem;
    color: #FFFFFF;
    border-style: none;
    background-color: #6934FF;
}

.cart-product-remove-button {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    color: #FFFFFF;
    border-style: none;
    background-color: #990000;
}


.cart-empty-message {
    font-size: 2rem;
    padding-left: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .cart-container {
        flex-direction: column;
        width: auto;
    }

    .cart-image {
        width: min(80%, 25rem);
    }

    .cart-product-name {
        font-size: 2.5rem;       
    }

    .cart-product-price {
        font-size: 1.75rem;
    }

    .cart-product-button, .cart-product-remove-button {
        width: 20rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
}