.main-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    color: #FFFFFF;
    padding-left: 2.5%;
    gap: 20px;
}

.heading {
    font-size: 3rem;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: start;
    gap: 3%;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
}

.contact-heading {
    font-size: 2rem;
}

.contact-description {
    font-size: 1.5rem;
}

.contact-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contact-button {
    height: 30px;
    width: 60px;
    border-style: none;
    color: #FFFFFF;
    background-color: #6934FF;
}

.contact-email {
    font-size: 1.5rem;
}