.main-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    color: #FFFFFF;
    padding-left: 2.5%;
    gap: 1.5rem;
}

.heading {
    font-size: 3rem;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: flex-start;
    gap: 3%;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 0.8rem;
}

.contact-heading {
    font-size: 2rem;
}

.contact-description {
    font-size: 1.5rem;
}

.contact-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.contact-button {
    height: 2rem;
    width: 4rem;
    border-style: none;
    color: #FFFFFF;
    background-color: #6934FF;
}

.contact-email {
    font-size: 1.5rem;
}

@media screen and (max-width: 750px) {
    .contacts-container {
        flex-direction: column;
        gap: 2.5rem;
    }

    .contact {
        width: 95%;
    }
}